*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 40px;
  font-family: system-ui;
  background-color: black;
}

h1 {
  color: grey;
  font-size: 3rem;
}

span {
  color: white;
}

p,
a {
  color: grey;
}
